@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarthSavers Online</title>
    <link rel="stylesheet" href="~/wwwroot/css/Home1.css">
    <script src="~/wwwroot/js/nav.js"></script>
</head>

<body>
    <div class="box">

        <section>
            <div class="rotation-container">
                <!-- 轮播器 -->
                <div>
                    <ul class="rotation_ul">
                        <li class="rotation-item rotation-item1"></li>
                        <li class="rotation-item rotation-item2"></li>
                        <li class="rotation-item rotation-item3"></li>
                        <li class="rotation-item rotation-item4"></li>
                        <li class="rotation-item rotation-item5"></li>
                    </ul>
                </div>

                <!-- 轮播焦点 -->
                <div class="focus-container">
                    <ul class="focus_ul">
                        <li>
                            <div class="focus-item focus-item1"></div>
                        </li>
                        <li>
                            <div class="focus-item focus-item2"></div>
                        </li>
                        <li>
                            <div class="focus-item focus-item3"></div>
                        </li>
                        <li>
                            <div class="focus-item focus-item4"></div>
                        </li>
                        <li>
                            <div class="focus-item focus-item5"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Welcome">
                Save the Earth, Save Ourselves.
            </div>

            <main>
                <div class="information">
                    <div><img src="~/wwwroot/img/environment6.jpg" alt=""></div>
                    <span><a href="https://huanbao.bjx.com.cn/news/20211109/1186863.shtml">recent news !!!</a></span>
                </div>
                <div class="importance">
                    <h1>The necessity of ecological protection</h1>
                    <p>
                        &emsp; cological conservation is of paramount importance for the well-being of our planet and all
                        living organisms that call it home. Here are several key reasons why ecological conservation is
                        crucial:
                    </p>
                    <div>
                        <a href="#BP">·1Biodiversity Preservation</a>
                        <div id="BP" class="content">
                            Ecological conservation helps protect the incredible diversity of
                            life on Earth. It ensures that various species, from plants to animals, can thrive in their
                            natural habitats. Biodiversity is essential for ecological balance and the sustainability of
                            ecosystems.
                        </div>
                    </div>
                    <div>
                        <a href="#ES">·2Ecosystem Stability</a>
                        <div id="ES" class="content">
                            Healthy ecosystems provide numerous services to humanity, such as
                            clean air, clean water, and fertile soil. Ecological conservation maintains the stability of
                            these ecosystems, preventing disruptions that could harm both the environment and human
                            societies.
                        </div>
                    </div>
                    <div>
                        <a href="#CCM">·3Climate Change Mitigation</a>
                        <div id="CCM" class="content">
                            Conserving natural habitats, especially forests and wetlands,
                            helps sequester carbon dioxide, reducing greenhouse gas emissions and combating climate
                            change. Healthy ecosystems play a critical role in regulating the Earth's climate.
                        </div>
                    </div>
                    <div>
                        <a href="#POES">·4Protection of Endangered Species</a>
                        <div id="POES" class="content">
                            Many species are currently threatened or endangered due to
                            habitat destruction and human activities. Ecological conservation efforts aim to safeguard
                            these species from extinction and preserve the delicate balance of life on Earth.
                        </div>
                    </div>
                    <div>
                        <a href="#RS">·5Resource Sustainability</a>
                        <div id="RS" class="content">
                            By conserving natural resources, we ensure that future generations
                            can meet their needs. Overexploitation of resources can lead to scarcity and negatively
                            impact human societies.
                        </div>
                    </div>
                    <div>
                        <a href="#PM">·6Pollution Mitigation</a>
                        <div id="PM" class="content">
                            Healthy ecosystems can naturally filter pollutants from the air
                            and water, providing a vital service for human health. Ecological conservation reduces the
                            need for costly human intervention in cleaning up pollutants.
                        </div>
                    </div>
                    <div>
                        <a href="#RAAV">·7Recreational and Aesthetic Value</a>
                        <div id="RAAV" class="content">
                            Natural areas provide recreational opportunities and contribute
                            to our overall well-being. Ecological conservation preserves these beautiful landscapes for
                            our enjoyment and mental health.
                        </div>
                    </div>
                    <div>
                        <a href="#CAIH">·8Cultural and Indigenous Heritage</a>
                        <div id="CAIH" class="content">
                            Many indigenous cultures have a deep connection to their natural
                            surroundings. Ecological conservation helps protect these cultural heritages and the
                            knowledge they hold about sustainable living.
                        </div>
                    </div>
                    <div>
                        <a href="#SR">·9Scientific Research</a>
                        <div id="SR" class="content">
                            Natural ecosystems serve as living laboratories for scientific
                            research. Studying these environments can provide insights into biology, chemistry, and
                            other fields, leading to advancements in various scientific disciplines.
                        </div>
                    </div>
                    <div>
                        <a href="#ER">·10Ethical Responsibility</a>
                        <div id="ER" class="content">
                            As stewards of the planet, we have a moral and ethical
                            responsibility to protect the environment for future generations. Ecological conservation is
                            a way to fulfill this responsibility.
                        </div>
                    </div>
                    <div class="pic">
                        <img src="~/wwwroot/img/pin-exclamation.png" alt="">
                    </div>
                </div>
                <div class="video">
                    <div class="h">
                        <div class="pic"><img src="~/wwwroot/img/shipin_1.png" alt=""></div>
                        <div class="sentence">Public welfare promotional video &#127910</div>
                    </div>
                    <video src="~/wwwroot/vedio/video.mp4" controls></video>
                </div>
            </main>

            <figure>
                <div class="h">The original Earth's ecology</div>
                <hr>
                <div class="share">
                    <img src="~/wwwroot/img/Chile.jpg" alt="" title="Chile">
                    <img src="~/wwwroot/img/China.jpg" alt="" title="China">
                    <img src="~/wwwroot/img/France.jpg" alt="" title="France">
                    <img src="~/wwwroot/img/Italy.jpg" alt="" title="Italy">
                    <img src="~/wwwroot/img/Georgia.jpg" alt="" title="Georgia">
                    <img src="~/wwwroot/img/Germany.jpg" alt="" title="Germany">
                    <img src="~/wwwroot/img/NewZealand.jpg" alt="" title="New Zealand">
                    <img src="~/wwwroot/img/Sardinia.jpg" alt="" title="Sardinia">
                    <img src="~/wwwroot/img/BoraBora.jpg" alt="" title="BoraBora">
                    <img src="~/wwwroot/img/Austria.jpg" alt="" title="Austria">
                </div>
            </figure>

        </section>
    </div>
</body>

</html>