
@{
    ViewBag.Title = "Problem";
    //Layout = "Problem";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destruction cases</title>
    <link rel="stylesheet" href="~/wwwroot/css/Problem1.css">
    <script src="~/wwwroot/js/nav.js"></script>
</head>

<body>
    <div class="box">
        <main>
            <div class="Welcome">
                <a>@Html.ActionLink("Destruction cases >> Homepage", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</a>
                
            </div>
            <div class="d1">
                <img src="~/wwwroot/img/p1.jpg" alt="">
                <div>
                    <h3>Ecological system destruction</h3>
                    <p>
                        As the environment is one of the components of an ecosystem, its changes can affect the stability
                        of the ecosystem. There are many examples of disrupting ecological balance due to environmental
                        damage, such as the formation of eutrophication in lakes; Mercury poisoning in Japan; Fluoride
                        destroys the ozone layer; The ecological environment of the Aswan Dam has deteriorated; The
                        greenhouse effect of the Earth, etc.
                    </p>
                    <h3>Damage of vegetation</h3>
                    <p>
                        Vegetation dominated by forests is a lever for terrestrial ecological balance, and the ecological
                        disasters caused by vegetation destruction are the most common on Earth.
                    </p>
                </div>
            </div>
            <div class="d2">
                <div class="sentence">
                    <h3>Food chain disruption</h3>
                    <p>
                        Examples of disrupting the food chain leading to the disruption of ecological balance, such as
                        forest diseases and pests caused by excessive hunting of natural enemies of pests; India used to
                        hunt otters extensively, increasing the number of diseased fish and reducing fish production.
                    </p>
                    <h3>Water resource destruction</h3>
                    <p>
                        (1) Color changes. Natural water is colorless and transparent. Water pollution can change the
                        color of water. This will affect the sensation of the uterus. For example, the pollution of
                        printing and dyeing wastewater often turns the water red, while the pollution of refining
                        wastewater can turn the water black and brown. The change in water color not only affects the
                        senses, but also damages the scenery, which is sometimes difficult to treat. <br>
                        <br>
                        (2) Changes in oil content. The cavity containing sediment, organic matter, suspended solids,
                        and inorganic matter in water creates turbidity, reduces the transparency of the water, affects
                        speech, and even affects the life of aquatic organisms. <br>
                        <br>
                        (3) Bubbles. Many pollutants discharged into water will produce foam, such as detergent. The
                        foam floating on the water surface will not only affect perception 1, but also inhale bacteria
                        in its pores, causing domestic water pollution. <br>
                        <br>
                        (4) Odor. The odor in water is a common pollution phenomenon. The foul smelling water body is
                        mostly organic matter that decays and stinks under disrespectful gas conditions. It is a
                        comprehensive foul odor with obvious sewer odor. The harm of foul odor is that people hold their
                        breath and feel nauseous, aquatic products cannot be eaten, and the water body loses its tourism
                        function.
                    </p>
                </div>
                <div class="pic">
                    <img src="~/wwwroot/img/p2.jpg" alt="">
                    <img src="~/wwwroot/img/p3.jpg" alt="">
                </div>
            </div>

            <filedset>
                <h3>Lead</h3>
                <div>&emsp; &emsp; Natural disasters such as hurricanes and earthquakes are not controllable by humans, but some fatal disasters on the earth are man-made disasters caused by human beings. Humans consume the planet's resources in large quantities, and the long-term effects threaten ecosystems and people themselves. This article will take stock of the ten most serious ecological disasters in human history, including the Bhopal gas leak in India, the Chernobyl accident, the Rhine River pollution incident, the oil pollution incident in British waters, and the oil spill accident of the "Exxon Valdez" oil tanker. Let's take a look at the details below.</div>
            </filedset>

            <div class="history">
                <h3>The 10 most serious ecological disasters in human history</h3>
                <!-- <div class="list">
                    <button class="one" id="act">Rankings</button>
                    <button class="two">Follow the list</button>
                </div> -->
                <div class="content">
                    <div class="first">
                        <div class="first_one">01</div>
                        <div class="first_two"><a href="https://www.maigoo.com/citiao/226476.html">Chernobyl accident <sub>&emsp;&emsp;[Detailed>>]</sub> </a></div>
                    </div>
                    <div class="second">
                        <div class="second_one">02</div>
                        <div class="second_two"><a href="https://www.maigoo.com/citiao/227848.html">Bhopal gas leak in India<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="third">
                        <div class="third_one">03</div>
                        <div class="third_two"><a href="https://www.maigoo.com/citiao/227850.html">Rhine pollution incident<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="fourth">
                        <div class="fourth_one">04</div>
                        <div class="fourth_two"><a href="https://www.maigoo.com/citiao/227851.html">Oil pollution incident in British waters<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="fifth">
                        <div class="fifth_one">05</div>
                        <div class="fifth_two"><a href="https://www.maigoo.com/citiao/227852.html">Oil spill on the oil tanker Exxon Valdez<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="sixth">
                        <div class="sixth_one">06</div>
                        <div class="sixth_two"><a href="https://www.maigoo.com/citiao/227853.html">The oil contamination incident on the freighter Armas<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="seventh">
                        <div class="seventh_one">07</div>
                        <div class="seventh_two"><a href="https://www.maigoo.com/citiao/227854.html">Love Canal incident<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="eighth">
                        <div class="eighth_one">08</div>
                        <div class="eighth_two"><a href="https://www.maigoo.com/citiao/227855.html">The disapperaing Aral Sea<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="ninth">
                        <div class="ninth_one">09</div>
                        <div class="ninth_two"><a href="https://www.maigoo.com/citiao/227856.html">Chemical contamination accident in Seviso, Italy<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                    <div class="tenth">
                        <div class="tenth_one">10</div>
                        <div class="tenth_two"><a href="https://www.maigoo.com/citiao/227857.html">Minamata disease incident in Japan<sub>&emsp;&emsp;[Detailed>>]</sub></a></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>

